body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

nav a.active {
  background-color: #DA2727;
  color: white;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
  font-size: 1.8em;
  margin-top: 0.5em;
  font-weight: bold;
  font-style: italic;
}

nav img {
  margin-left: 24%;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin-left: 20%;
  margin-right: 4%;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:hover {
  text-decoration: underline;
}


/* HOME  */


.home-container {
  position: relative;
  /* width: 100%;
  height: 80%; */
}

.home-container img {
  object-fit: cover;
  width: 100%;
  max-height: 85vh;
  /* width: 100%;
  max-height: 100vh;
  height: 100%;
  object-fit: scale-down; */
}

.random-description {
  position: absolute;
  top: 7%;
  right: 2%;
  text-align: right;
  background-color: rgba(255, 255, 255, 0.87);
  max-width: 300px;
  padding: 0 2% 1.5% 2%;
}

.random-description h2 {
  font-size: 1.5em;
}

.random-description a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1.1em;
}

.random-description a:hover {
  color: #DA2727;
}


/* CARD DISPLAYS:  */


.rec-list {
  margin-bottom: 5%;
  padding-top: 100px;
}

.card {
  background-image: linear-gradient(rgba(215, 215, 215, 0.657), rgba(255, 255, 255, 0));
  text-align: center;
  /* border: 2px solid #e7e7e7; */
  border-radius: 4px;
  /* padding: .8rem;  */
}

.card:hover {
  border-top: #DA2727 3.8px solid;
}

.card img {
  max-height: 200px;
  object-fit: cover;
  width: 100%;
  
}

.card-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  grid-gap: 4rem;
  max-width: 90%;
  margin: 5% 0 0 5%;
}

.card button {
  color: #000000;
  border: none;
  border: 2px #d7d7d7 solid;
  background-color: rgb(246, 246, 246);
  font-size: 1.1em;
  font-weight: bold;
  padding: 5px;
  border-radius: 50%;
  height: 61px;
  width: 61px;
}

.card button:hover {
  color: rgb(0, 0, 0);
  font-style: bold;
  border: 3px #DA2727 solid;
}

.card button:active {
  color: rgb(255, 255, 255);
  background-color: #DA2727;
}

#front-card h3 {
  line-height: 1em;
  background-color: #e1e1e1;
  padding: 0.7em;
  margin: 0;
  font-size: 1.6em;
  font-weight: 400;
}

#front-card h3:hover {
  color: #DA2727;
  font-weight: bold;
  cursor: grab;
}

#front-card h4 {
  font-size: 1.1em;
  font-weight: 400;
}

#front-card #icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: -50px 0 -20px 30%;
  width: 150px;
}

#emoji {
  font-size: 2.8em;
}

#back-card h3 {
  line-height: 1em;
  font-size: 1.7em;
  font-weight: 500;
}

#back-card h3:hover {
  color: #DA2727;
  cursor: grab;
}

#back-card p {
  padding: 1em;
}


/* SEARCH PAGE */


#search-page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1% 0 0 0;
}

#category-filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30%;
  font-size: 2em;
  padding: 2%;
}

#search-input {
  width: 400px;
  margin-left: 1%;
  height: 25px;
  font-size: 1.25em;
}

/* #submit-input {
  width: 100px;
  height: 30px;
  background-color: #DA2727;
  color: white;
  margin: 0px 0px 0px 10px;
  border: 1px black solid;
  font-size: 1.25em;
  font-weight: bold;
  font-style: italic;
} */

#search-input::placeholder {
  color: rgb(159, 159, 159);
  /* text-align: center; */
}



/* CATEGORIES  */


.category-container {
  height: 150px;
}

.category-container h4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #DA2727;
}

.categories {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.categories button {
  border: none;
  background-color: rgb(233, 233, 233);
  border-radius: 50%;
  font-size: 2em;
  margin: 0.5em;
  width: 60px;
  height: 60px;
}

.categories a {
  text-decoration: none;
  color: black;
}

.categories a:visited {
  color: black;
}

.categories a:hover {
  color: black;
}

.categories button:hover {
  border: 3px solid #DA2727;
}

.categories button:active {
  background-color: #DA2727;
}

.categories button:focus {
  background-color: #DA2727;
}

.categories #all {
  height: 60px;
}


/* FORM  */


.new-rec-form {
  margin-top: 4em;
}

label,
input,
select {
  font-size: 1.2rem;
  line-height: 1.2;
}

select {
  margin-left: 1.2rem;
}

form {
  width: 30em;
  max-width: 90%;
  margin: 0 auto;
}

label {
  margin-bottom: 0.4rem;
  display: block;
  font-style: italic;
  font-weight: 600;
}

input,
textarea {
  margin-top: 0.2rem;
  padding: 0.4rem;
  width: 100%;
}

textarea {
  font-size: 1rem;
}

input[type="radio"] {
  height: 1.2rem;
  width: 1.2rem;
  margin-right: .5rem;
  /* margin-left: 1.5rem; */
  accent-color: #DA2727;
}

.accent {
  margin-left: 50px;
}

#submit-form {
  width: 130px;
  height: 40px;
  background-color: #DA2727;
  color: white;
  border: 1px black solid;
  font-size: 1.25em;
  font-weight: bold;
  font-style: italic;
}


/* ABOUT */


.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-container h2 {
  margin-top: 2em;
  color:#DA2727;
  font-size: 3em;
  font-weight: bold;
  font-style: italic;
}

.image-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  height: 200px;
  margin: 3% 0 2% 0;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 13em;
  margin-top: 10%;
}

.bio {
  border-radius: 50%;
  width: 100%;
  z-index: 1;
}

.bio:hover {
  opacity: 0.2;
}

.image-container p {
  opacity: 1;
  position: relative;
  top: -150px;
  z-index: 0;
  color: #DA2727;
  font-weight: bold;
  font-style: italic;
}

.about-container p {
  font-size: 2em;
}